/* resetMainForm part style */
#resetMainForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    animation: fadeInPage ease 1.2s;
    margin-top: 8rem;
}

/* resetForm style */
.resetForm {
    width: 100%;
    max-width: 25%;
    margin-top: 40px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* heading */
.resetForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* form part style */
#resetForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* input part style */
#resetForm input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


/* error message style */
#resetForm p {
    font-size: 12px;
    color: red;
}

#resetForm select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

/* link part style */
.resetForm .link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.resetForm .link a {
    color: #667eea;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
}

.resetForm .link a:hover {
    text-decoration: underline;
}

/* fade in animation */
@keyframes fadeInPage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* responsive */
@media (max-width: 500px) {
    .resetForm {
        margin: 10px;
        padding: 20px;
        max-width: 70%;
    }

    #resetForm input {
        font-size: 15px;
    }

    #resetForm button {
        font-size: 15px;
        padding: 11px;
    }

    .resetForm .link {
        font-size: 13px;
    }

}